../datasets/21cmFAST_los/los_regrid/los_50Mpc_256*
../datasets/21cmFAST_los/tau/tau_50Mpc_256*
.DS_Store
/ML/__pycache__
ML/saved_output/inference_gmrt500h/archive/laten1_f21_inference_unet_with_dense_train_test_uGMRT_t500.0_20250508112308/train_latent_features.csv
ML/saved_output/inference_gmrt500h/archive/latent_f21_inference_unet_with_dense_train_test_uGMRT_t500.0_20250414093815/train_latent_features.csv
ML/saved_output/inference_gmrt500h/laten1_f21_inference_unet_with_dense_train_test_uGMRT_t500.0_20250710030439/train_latent_features.csv
ML/saved_output/inference_gmrt500h/latent_f21_inference_unet_with_dense_train_test_uGMRT_t500.0_20250709140948/train_latent_features.csv
ML/saved_output/inference_gmrt50h/archive/laten1_f21_inference_unet_with_dense_train_test_uGMRT_t50.0_20250508110346/train_latent_features.csv
ML/saved_output/inference_gmrt50h/archive/latent_f21_inference_unet_with_dense_train_test_uGMRT_t50.0_20250413160932/train_latent_features.csv
ML/saved_output/inference_gmrt50h/laten1_f21_inference_unet_with_dense_train_test_uGMRT_t50.0_20250709220018/train_latent_features.csv
ML/saved_output/inference_gmrt50h/latentf21_inference_unet_with_dense_train_test_uGMRT_t50.0_20250709134119/train_latent_features.csv
ML/saved_output/inference_ska50h/archive/laten1_f21_inference_unet_with_dense_train_test_SKA1-low_t50.0_20250508104656/train_latent_features.csv
ML/saved_output/inference_ska50h/laten1_f21_inference_unet_with_dense_train_test_SKA1-low_t50.0_20250709213930/train_latent_features.csv
ML/saved_output/inference_ska50h/latent_f21_inference_unet_with_dense_train_test_SKA1-low_t50.0_20250709145126/train_latent_features.csv
/ML/output
/ML/tmp_out
